body {
    font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
    background:lightskyblue;
    color: rgb(0, 0, 0);
    padding: 50px;
    align-self: center;
  }
h1 {
      font-family: 'Akaya Telivigala', cursive;
      font-size: 3rem;
      text-align: center;
      font-weight: 800;
}
.userform{
    text-align: center;
}

.suggestions {
    margin: 100 px;
    padding: 10 px;
    position: relative;
    display: inline-block;
    /*perspective: 20px;*/
}
  
.suggestions li {
    background:linear-gradient(rgb(168, 231, 168), rgb(227, 180, 236));
    list-style: none;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    margin: 50 px;
    width: 500 px;
    align-self: center;
    padding: 20px;
    transition: background 0.2s;
    display: inline-block;
    text-transform: capitalize;
}
  
span.population {
    font-size: 15px;
}
  
.name {
    font-weight: bold;
}